@import url("https://fonts.cdnfonts.com/css/akira-expanded");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-inter: "Inter", sans-serif;
  }
}

@font-face {
  font-family: "Akira Expanded";
  src: url("https://fonts.cdnfonts.com/css/akira-expanded"); /* Use .ttf if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Akira Expanded", sans-serif;
}
.font-inter {
  font-family: var(--font-inter);
}
